.mainC {
  padding: 0.5em 2em 0 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.mainB {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.heder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.animated_image {
  animation: bounce 2s ease-in-out;
  max-width: 11em;
  height: auto;
}

.bottomHR {
  border: none;
  height: 1.5px;
  background-color: gray;
}

.backIco {
  height: 1.3em;
  width: 1.3em;
}

.backbtn {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  border-radius: 9px;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.body{
    display: flex;
    flex-direction: row;
    gap: 2em;

    width: 100%;
}

.left{
  width: 55%;
  justify-content:start;

}

.mainImage{
  width: 100%;
}


.right{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 45%;
  gap: 6%;

}

.appartmentName{
  font-family: "Poppins", sans-serif;
  font-size: x-large;
}

.userDetail{
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 4%;
  width: 30%;
  margin-top: -2%;

}

.userDetailIMG {
  height: 3em;
  width: 3em;
  border-radius: 50%; 
 
}

.userDetailName{
  font-family: "Poppins", sans-serif;
  font-size: medium;
}

.cityInfo{
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 85%;

}

.userDetailCity{
  font-family: "Poppins", sans-serif;
  font-size: small;
  color: rgb(121, 118, 118);
  width: fit-content;

}

.descripText{
  text-align: start;
  max-height: 30%;
  width: 55%;
  overflow-y: auto;
  font-family: "Poppins", sans-serif;
  font-size: medium;
}

.btnGroup{
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 4%;
  width: 50%;
}

.btnGroupCall{
  border: none;
  color: green;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2%;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  border-radius: 10px;
  background-color: rgba(214, 214, 214, 0.962);
}

.btnGroupBasket{
  border: none;
  color: blue;
  width: 20%;
  padding: 5px;
  background-color: rgba(214, 214, 214, 0.962);
  border-radius: 10px;
}
.btnGroupFavorite{
  border: none;
  color: rgb(34, 33, 33);
  width: 20%;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(214, 214, 214, 0.962);
}

.btnGroupCall:hover, .btnGroupBasket:hover, .btnGroupFavorite:hover {
  transform: scale(1.04);
}


.appartmentprice{
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  font-weight: 400;
  width: fit-content;
}

.appartmentpriceandvalute{
  display: flex;
  flex-direction: row;
  gap: 2%;
  text-align: baseline;
  justify-content: baseline;
  align-items: baseline;
  width: fit-content;

}

.appartmentpricevalute{
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 350;

}




@media (max-width:1645px){
  .userDetailName{
    font-family: "Poppins", sans-serif;
    font-size: small!important;
    font-weight: 450;
  }
  
  .cityInfo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
  
  }
  
  .userDetailCity{
    /* font-family: "Poppins", sans-serif; */
    font-size: smaller!important;
    color: rgb(121, 118, 118);
  
  }
}


@media (max-width: 1050px) {
  .body {
    flex-direction: column; 
    gap: 2em;
  }

  .left, .right {
    width: 100%; 
    height: 100%;
  }

  .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2em;
  }

  .userDetail{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 4%;
    margin-top: -1.3em;

  }
  
  .mainImage {
    width: 100%; 
  }

  .btnGroup {
  
    flex-direction: row; 
    gap: 1em; 
  }

  .btnGroupCall, .btnGroupBasket, .btnGroupFavorite {

    text-align: center; 
  }

  .descripText {
    width: 55%; 
    max-height: 6em;
    overflow-y: auto;
  }

  .appartmentprice {
    font-size: 3em; 
  }


}

@media (max-width: 600px) {
  .mainC {
    padding: 0.5em 1em 0 1em; 
  }

  .appartmentprice {
    font-size: 1.5em;
  }

  .appartmentpriceandvalute {
    gap: 1%; 
  }

  .btnGroupCall, .btnGroupBasket, .btnGroupFavorite {
    padding: 10px;
    font-size: small; 
  }

  .animated_image {
    max-width: 8em; 
  }
  .userDetail{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5%;
    margin-top: -1.3em;

  }
}

